.playerSelectDiv{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 2em;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.7);
    max-width: 700px;
    margin: auto;
}

.buttonDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-bottom: 5em;
}

.buttonP1, .buttonP2{
    padding: 1em;
    font-size: 2em;
    border-radius: 5px;
}

.buttonP1{
    background: rgb(254,251,111);
    background: linear-gradient(0deg, rgba(254,251,111,1) 0%, rgba(223,102,102,1) 100%);
}

.buttonP1:hover{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,102,102,1) 100%);
}

.buttonP2{
    background: rgb(254,251,111);
    background: linear-gradient(0deg, rgba(254,251,111,1) 0%, rgba(102,118,223,1) 100%);
}

.buttonP2:hover{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(102,118,223,1) 100%);
}

@media only screen and (max-width: 600px) {
    .buttonDiv{
        flex-direction: column;
    }
    .buttonP1, .buttonP2{
        padding: 1em;
        font-size: 1em;
        border-radius: 5px;
    }
}